


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #d1d1d1;
  padding: 45px 25px;
  min-width: 1260px;
  overflow: scroll;
  border-bottom: 1px solid #666;
  margin-bottom: 1rem;
}

code {
  font-family:  'Caladea', serif,'DM Sans', sans-serif,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
