


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #d1d1d1;
  padding: 45px 25px;
  min-width: 1260px;
  overflow: scroll;
  border-bottom: 1px solid #666;
  margin-bottom: 1rem;
}

code {
  font-family:  'Caladea', serif,'DM Sans', sans-serif,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'BelweLtBTLight';
  src: local('BelweLtBTLight'), url(./fonts/BelweLtBTLight.ttf) format('truetype');
}

@font-face {
  font-family: 'BelweMediumBT';
  src: local('BelweMediumBT'), url(./fonts/BelweMediumBT.ttf) format('truetype');
}
@font-face {
  font-family: 'Bahnschrift';
  src: local('Bahnschrift'), url(./fonts/BLADRMF_.TTF) format('truetype');
}
@font-face {
  font-family: 'Bahnschrift';
  src: local('Bahnschrift'), url(./fonts/Caladea-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'PixelCondensed';
  src: local('PixelCondensed'), url(./fonts/PixelSansSerifCondensed.ttf) format('truetype');
}
@font-face {
  font-family: 'PixelSans';
  src: local('PixelSans'), url(./fonts/Pixel_Sans_Serif.ttf) format('truetype');
}
@font-face {
  font-family: 'PixelSanss';
  src: local('PixelSanss'), url(./fonts/w95fa.woff) format('woff');
}